#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.custom-alert {
  display: inline-block;
  width: auto; 
  padding-right: 10px;
  cursor: pointer
}

.custom-alert:hover{
  scale: 1.1;
  transition: 2 ease-in;
}